<ol class="post-list">
    {{#each posts}}
    <li>
        <article class="post">
            <div class="title">
                <a href="/single-post">{{title}}</a>
            </div>
            <div>
                <a>{{post_content}}</a>
            </div>
            <div class="meta">
                by {{User.username}} on
                {{created_at}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>

{{!-- <ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol> --}}