{{!-- <ol class="post-list">

    <li>
        <article class="post">
            <div class="title">
                <{{post_content}}, {{title}}</a>
                    <span>{{post_content}}</span>
            </div>
        </article>
    </li>

</ol> --}}

<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ol>