{{!-- Main single post page --}}
{{> post-info post }}

{{!-- Comment form inside single post page, after clicked --}}
{{!-- Make the comment form visible only if a user is logged in --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{!-- Hide the script elements from non logged in users as well --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}