<article class="post">
    <div class="title">
        <a href="/post/{{<post.title}}"></a>
    </div>
    <div>
        <a>{{post.post_content}}</a>
    </div>
    <div class="meta">
        by {{post.user.username}} on
        {{post.created_at}}
    </div>
</article>